<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body onload="loadStudentData()">
    <div class="container my-5" style="padding-top: 30px;">
        <div id="form-student"></div>
        <hr>
        <br>
        <p>
            <button class="btn btn-primary" onclick="return_tab()">
                Back to listing
            </button>
            <!-- <button class="btn btn-primary" onclick="addStud()">
                Add Student
            </button> -->
        </p>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="col-md-15">
                    <div id="student-data"></div>
                    <form id="student-form" name="student-form" role="form">
                        <table>
                            <tr>
                                <td>Matric Number</td>
                                <td style="width:20px;">:</td>

                                <td><input type="text" class="form-control" id="studentMatric" name="studentMatric"
                                        placeholder="Matric Number" /></td>
                            </tr>
                            <tr>
                                <td>Student Name</td>
                                <td style="width:20px;">:</td>

                                <td><input type="text" class="form-control" id="studentname" name="studentname"
                                        placeholder="Student Name" /></td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" id="save" href="#" class="btn btn-primary" value=" Submit ">
                            </div>
                            <!-- <input type="text" id="id"> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    // Store student ID;
    let studId = '';

    // Get student ID from URL;
    $(document).ready(function () {
        const queryString = window.location.search.slice(4);
        studId = queryString;
        console.log("hehehe"+studId);
        $("#student-form").submit(function (e) {

            e.preventDefault();
            console.log('submit form');
            var id = $("#id").val();
            id == '' ? console.log('kosong') : console.log(id);

            var formData = {
                studentMatric: $("#studentMatric").val(),
                studentName: $("#studentname").val(),
            };

            if (!studId) {
                console.log("tmbh");
                $.ajax({
                    url: 'http://localhost:8080/student',
                    type: 'POST',
                    data: formData,
                    traditional: true,
                    headers: { "Accept": "application/json", },
                    success: function (response) {
                        alert("Student added!")
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
                alert("Student added!");
                window.history.back();
            } else {
                console.log('upd');

                $.ajax({
                    url: 'http://localhost:8080/student?id=' + studId,
                    type: 'POST',
                    data: formData,
                    traditional: true,
                    headers: { "Accept": "application/json", },
                    success: function (response) {
                        alert("Student updated!")
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                alert("Student updated!");
                window.history.back();
            }
        });
    });

    // Load selected student ID
    function loadStudentData() {
        const queryString = window.location.search.slice(4);
        studId = queryString;
        console.log("hahahaha"+studId);
        if (!studId) {
            console.log('Add student');
            $("#form-student").append("<h1>Attendance Form</h1>");
            document.title = "Attendance Form";
        } else {
            $("#form-student").append("<h1>Edit Attendance Form</h1>");
            document.title = "Edit Attendance Form";
            $(document).ready(function () {
                $.ajax({
                    url: 'http://localhost:8080/student',
                    type: 'GET',
                    contentType: "application/json",
                    data: {
                        id: studId,
                    },
                    headers: { 'Accept': 'application/json', 'X-Request': 'JSON' },
                    success: function (data) {
                        console.log(data);
                        $('#studentMatric').val(data.studentMatric);
                        $('#studentname').val(data.studentName);
                    },
                    error: function (error) {
                        console.log(error.toString());
                    },
                });
            });
        }
    }

    // Cancel current action
    function return_tab() {
        window.history.back();
    }
</script>

</html>