<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body onload="loadProductData()">
<div class="container my-5" style="padding-top: 30px;">
    <div id="form-product"></div>
    <hr>
    <br>
    <p>
        <button class="btn btn-primary" onclick="return_tab()">
            Back to listing
        </button>
        <button class="btn btn-primary" onclick="addProd()">
            Add Product
        </button>
    </p>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="col-md-15">
                <div id="product-data"></div>
                <form id="product-form" name="product-form" role="form">
                    <table>
                        <tr>
                            <td>Code</td>
                            <td style="width:20px;">:</td>

                            <td><input type="text" class="form-control" id="code" name="code" placeholder="Code"/></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td style="width:20px;">:</td>

                            <td><input type="text" class="form-control" id="name" name="name" placeholder="Name"/></td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td style="width:20px;">:</td>

                            <td><input type="text" class="form-control" id="category" name="category" placeholder="Category"/></td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td style="width:20px;">:</td>

                            <td><input type="text" class="form-control" id="brand" name="brand" placeholder="Brand"/></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td style="width:20px;">:</td>
                            <td><input type="text" class="form-control" id="type" name="type" placeholder="Type"/></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td style="width:20px;">:</td>

                            <td><input type="text" class="form-control" id="description" name="description" placeholder="Description"/>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" id="save" href="#" class="btn btn-primary" value=" Submit ">
                        </div>
                        <input type="text" id="id">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    // Store product ID;
    let prodId = '';

    // Get product ID from URL;
    $(document).ready(function () {
        const queryString = window.location.search.slice(4);
        prodId = queryString;

        $("#product-form").submit(function(e) {

            e.preventDefault();
            console.log('submit form');
            var id = $("#id").val();
            id == '' ? console.log('kosong') : console.log(id);

            var formData = {
                code: $("#code").val(),
                name: $("#name").val(),
                category: $("#category").val(),
                brand: $("#brand").val(),
                type: $("#type").val(),
                description: $("#description").val(),
            };

            // console.log(formData);
            // console.log(JSON.stringify(formData));

            if (!id) {
                console.log("tmbh");
                $.ajax({
                    url: "http://localhost:8080/product",
                    type: "POST",
                    data: formData,
                    traditional: true,
                    headers: {"Accept": "application/json",},
                    success: function (response) {
                        alert("Product added!")
                        // console.log(response)
                        // window.location.href = "/"
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
            } else {
                console.log('upd');

                $.ajax({
                    url: 'http://localhost:8080/product?id=' + prodId,
                    type: 'POST',
                    data: formData,
                    traditional: true,
                    headers: {"Accept": "application/json",},
                    success: function (response) {
                        alert("Product updated")
                        // console.log(response)
                        // window.location.href = "/"
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    });

    // Load selected product ID
    function loadProductData() {
        if (!prodId) {
            console.log('Add product');
            $("#form-product").append("<h1>Add Product</h1>");
            document.title = "Add Product";
        } else {
            $("#form-product").append("<h1>Edit Product</h1>");
            document.title = "Edit Product";
            $(document).ready(function () {
                $.ajax({
                    url: 'http://localhost:8080/product',
                    type: 'GET',
                    contentType: "application/json",
                    // jsonpCallback: "jsonRead",
                    data: {
                        id: prodId,
                    },
                    headers: {'Accept': 'application/json', 'X-Request': 'JSON'},
                    success: function (data) {
                        console.log(data);
                        // $.each(data, function(index, element) {
                        //     console.log(element);
                        // });

                        $('#code').val(data.code);
                        $('#name').val(data.name);
                        $('#category').val(data.category);
                        $('#brand').val(data.brand);
                        $('#type').val(data.type);
                        $('#description').val(data.description);
                        $('#id').val(data.id);
                    },
                    error: function (error) {
                        console.log(error.toString());
                    },
                });
            });
        }
    }

    // Cancel current action
    function return_tab() {
        // let text = "Close this tab?";
        // if (confirm(text) === true) {
        window.history.back();
        // }
    }
</script>

</html>